@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&family=Raleway&family=Space+Grotesk&display=swap');

.raleway {
    font-family: "Raleway", sans-serif;
}

.baskerville {
    font-family: "Libre Baskerville", monospace;
}

.space {
    font-family: "Space Grotesk", sans-serif;
}